<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <key>Label</key>
  <string>com.privacy_tool.killswitch</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>ThrottleInterval</key>
  <integer>10</integer>

  <key>ProgramArguments</key>
  <array>
    <string>HIDE_VENV_PYTHON</string>
    <string>HIDE_TOOL_DIR/core/main.py</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>HIDE_USER_HOME</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>SUDO_UID</key>
    <string>HIDE_UID</string>
    <key>SUDO_GID</key>
    <string>HIDE_GID</string>
  </dict>

  <key>StandardOutPath</key>
  <string>HIDE_LOG_DIR/launchd_stdout.log</string>

  <key>StandardErrorPath</key>
  <string>HIDE_LOG_DIR/launchd_stderr.log</string>

  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>256</integer>
  </dict>

</dict>
</plist>
